{% extends 'base.html.twig' %}

{% block title %}New Activity Log{% endblock %}

{% block body %}
    <h1>Create New Activity Log</h1>

    {{ include('activity_log/_form.html.twig') }}

    <a href="{{ path('app_activity_log_index') }}">back to list</a>
{% endblock %}
